/*  navbar related css over there */
/*  .NavLinks */
.NavLinks{
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
    background: #fcfbfb;
}
.NavLinks a{
    margin: 8px;
    border-radius: 0.5rem;
    padding: 8px;
    color: var(--fontPrimary);
}
.NavLinks a:hover{
    font-weight: 600;
    background: rgba(68, 51, 51, 0.151);
}
 
.NavLinks a:nth-child(6){
    font-size: 1.3rem;
}
.NavLinks a:nth-child(6):active{
    background: var(--newGreen);

}


.closeMobileMenu {
    display: none;
}
.AccountActive {
    display: inline !important;
}