/*  FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: rgba(201, 201, 201, 0.144);
}
:root {
  --activeGreen: #2dbf64;
  --fontPrimary: #002333;
  --questionBG: #e4e8ee;
  --successGreen: #00ff84;
  --newGreen: #1dd881;
  --bodyBackground: #f2f4f8;
  --smartYellow: #ffc916;
  --smartBlue: #0070f3;
  --purpule: #728fce;
}
/*  merkup  */

.rightContent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
/* logo */
.logo img {
  width: 50px;
  transition: 0.3s;
}
/* .logo  transform translate */
.logo img:hover {
  transform: scale(1.1);
}
.logo:hover {
  background: rgba(177, 177, 177, 0.103);
}
/*  logo  */
.logo {
  transition: 0.3s;
  border-radius: 1.3rem;

  padding: 12px;
}
/* logo .desc */
.logo .desc {
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 380px;
}
/*  logo h2 */
.logo h2 {
  font-size: 3rem;
  display: flex;
}
/* loginBox */
.loginBox {
  background: rgba(255, 255, 255, 0.658);
}
.loginBox input {
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid transparent;
}
/*  .loginBox input active */
.loginBox input:active {
  transition: 0.3s;
  opacity: 0.9;
  border: 1px solid var(--smartBlue);
}
/* container logo */
.container {
  width: 90%;
  margin: 2rem auto;
}
/* loginBtn */
.loginBtn {
  /* padding: 12px 30px; */
}
/*  .loginBtn */
.loginBtn button {
  border: 0;
  padding: 12px;
  width: 100%;
  border-radius: 0.7rem;
  background: #4299fd;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}
.loginBtn button:hover {
  background: #2c84e9;
}
.forgetPassword{
   background: rgba(207, 207, 207, 0.089);
   transition: 0.3s;
}
.forgetPassword a {
   color: #002333;
   display: flex;
   border-radius: 2rem;
   align-items: center;
   justify-content: center;
}
.forgetPassword a:hover {
   background: rgba(207, 207, 207, 0.295);
   text-decoration: underline;
}
/* createNewAccount */
.createNewAccount {
   display: flex;
   align-items: center;
   margin-top: 10px;
   justify-content: center;
}
/*  .createNewAccount */
.createNewAccount button{
   padding: 9px;
   font-weight: 600;
   max-width: 160px;
   background: var(--newGreen);
   border: 0;
   width: 100%;
   border-radius: 0.6rem;
}
/*  .createNewAccount button */
.createNewAccount button:hover{
   background: #17b169;
}
/* CreateAPage */
.page {
   text-decoration: underline;
   color: #002333;
}